.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

storage/videos/*
storage/audio/*
storage/transcripts/*
storage/sqlite/*.db
storage/sqlite/*.db-*
storage/chroma/*

!storage/videos/.gitkeep
!storage/audio/.gitkeep
!storage/transcripts/.gitkeep
!storage/sqlite/.gitkeep
!storage/chroma/.gitkeep

storage/chunks/*
!storage/chunks/.gitkeep
